
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #F9FAFB;
    color: #555;
    font-family: 'Skin Sansa', 'Inter', 'Arial';
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* ----------------------------------------------- */
/* Header */
/* ----------------------------------------------- */

header {
    background-image: url(img/group.png);
    
    background-position: center;
    height: 55vh;
}


.logo {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 20px;
}


/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 32px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #6B7280;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #6B7280;
}


/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #000000;
}

/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F9FAFB;
    box-shadow: 0 2px 2px #a29b9b;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo { display: block; }

.ion-navicon-round:before {
    content: "\f20d";
}
.ion-navicon-round:before,
.ion-close-round:before{
    display: inline-block;
    font-family: 'Skin Sansa';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    
}

.ion-close-round:before {
    content: "\f129";
}

/*--------------------------------------------*/
/* Footer */
/*--------------------------------------------*/
.footer-nav {
    list-style: none;
    text-align: center;
    margin-bottom: 34px;
}

.footer-nav li {
    display: inline;
    margin-left: 40px;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    padding: 8px 0;
    color: #6B7280;
    text-decoration: none;
    
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    border-bottom: 2px solid #6B7280;
}

.social-links {
    list-style: none;
    text-align: center;
    margin-bottom: 35.75px;
    
}

.social-links li {
    display: inline;
    margin-left: 28px;
}

.social-links li a:link,
.social-links li a:visited {
    padding: 8px 0;
    color: #6B7280;
    text-decoration: none;
    
    font-size: 90%;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s;
}
.social-links li a:hover,
.social-links li a:active {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.copyright {
    text-align: center;
}

.btn-app {
    height: auto;
    width: 178.89px;
    text-align: center;
}
.app-screen {
    
    width: 40%;
    margin-top: 80px;
    margin-left: 120px;
    box-shadow: 0 2px 2px #a29b9b;
    border-radius: 33px
}

.hero-text-box {
    margin-top: 80px;
    
}

.app-download {
    width: 178.89px;
    height: auto;
    margin-top: 18px;
}


/*------- heading -----*/

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #111827;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: 'Sinkin Sans';
}
h5 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #7bb924;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: 'Sinkin Sans';
}

h2 {
    font-family: 'Sinkin Sans';
font-style: normal;
font-weight: 700;
font-size: 160%;
line-height: 120%;
    letter-spacing: -0.025em;
    color: #111827;
    float: left;
}
h3 {
    font-family: 'Sinkin Sans';
font-style: normal;
font-weight: 700;
font-size: 120%;
line-height: 24px;
    color: #111827;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}
.long-copy {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
    color: #6B7280;
}

.quote {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
    color: #6B7280;
    flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.icone {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
    width: 48px;
height: 48px;
left: 0px;
top: 0px;
    background: #95DE2D;
border-radius: 6px;
    flex: none;
order: 0;
flex-grow: 0;
margin: 20px 0px;
}
    

.dot-patern {
    height: 250px;
    width: auto;
    margin-right: 100px;
}

/*-------------------------------------------------*/
/* Section About*/
/*-------------------------------------------------*/

.section-aboutus {
     background-image: url(img/dot-background.png);
    background-size: contain;
    background-position: center;
    
    
    
}





.icon-social {
    height: 22px;
    width: auto;
}
